<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://github.com/WB2024/radarrzen"
        version="1.0.0"
        viewmodes="fullscreen">

  <tizen:application id="RdrrzTV001.Radarrzen"
                     package="RdrrzTV001"
                     required_version="4.0"
                     launch_mode="single"/>

  <content src="index.html"/>

  <icon src="assets/icon.png"/>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>

  <feature name="http://tizen.org/feature/network.internet"/>

  <tizen:setting screen-orientation="landscape"
                 context-menu="disable"
                 background-support="disable"
                 encryption="disable"
                 install-location="auto"
                 hw-key-event="enable"/>

  <access origin="*" subdomains="true"/>

  <name>Radarr</name>
  <description>Radarr movie manager for Samsung TV</description>
</widget>
